.layout {
  max-width: 120rem;
  padding: 4rem 8rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: baseline;
  gap: 6rem;
  margin-bottom: 12rem;
  font-size: 2rem;
}

.homeBtn {
  box-sizing: border-box;
  width: 5.6rem;
  height: 5.6rem;
  box-shadow: 0.6rem 0.6rem black;
  background: #ffffff;
  border: 3px solid #333333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.homeBtn:hover,
.backToHome a:hover {
  background-color: #333333;
  color: #ffffff;
}

.backToHome {
  margin: 3rem 0 3rem;
}

@media (max-width: 50em) {
  .layout {
    padding: 4rem 4rem;
  }

  .nav {
    gap: 3rem;
  }
}

@media (max-width: 40em) {
  .nav {
    gap: 3rem;
  }

  .homeBtn {
    width: 4rem;
    height: 4rem;
  }

  .contactLink {
    display: none;
  }
}

@media (max-width: 25em) {
  .layout {
    padding: 2rem 2rem;
  }

  .nav {
    gap: 2rem;
  }
}
